@import "tailwindcss";

@font-face {
  font-family: "montserrat-bold";
  src: url("assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "montserrat-semibold";
  src: url("assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "montserrat-regular";
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "montserrat-light";
  src: url("assets/fonts/Montserrat-Light.ttf");
}

@theme {
  --font-montserrat-regular: "montserrat-regular";
  --font-montserrat-bold: "montserrat-bold";
  --font-montserrat-light: "montserrat-light";
  --font-montserrat-semibold: "montserrat-semibold";
}